html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  margin: auto;
  color: #FBF5F3 ;
  background-color: #414B56 ;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
}
a:visited {
  color: #e6e6e6;
}

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #ffffff;
  margin-bottom: 2.5rem;
  background-color: #4a4a4a;
}

blockquote p {
  margin-bottom: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
}

/* Pre and Code */
pre {
  background-color: #4a4a4a;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #4a4a4a;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

/* Tables */
table {
  text-align: justify;
  border-collapse: collapse;
  border: #FBF5F3 2px solid;
}

td, th {
  padding: 0.5em;
  border: #FBF5F3 2px solid;
  height: 60px;
  width: 60px;
}

.toggled {
	background-color: #e6e6e6;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #c9c9c9;
}
input:focus,
textarea:focus {
  border: 1px solid #ffffff;
}

textarea {
  width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding:8px 24px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2774A6;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #2774A6 ;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;
}

.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type="submit"]:focus:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:focus:enabled,
input[type="reset"]:hover:enabled,
input[type="button"]:focus:enabled,
input[type="button"]:hover:enabled {
  background-color: #019ad2;
  border-color: #c9c9c9;
  color: #ffffff;
  outline: 0;

}



textarea,
select,
input {
  color: #000000;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #c9c9c9;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea:focus,
select:focus,
input:focus {
  border: 1px solid #ffffff;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #ffffff;
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

blockquote {
  background-color: #414B56;
  text-align: justify;
}

/*----HEADER----*/

.menu {
  background-color: #252B30;
}
.icon {
  margin-left: 5rem;
}

/*----TAMAÑOS----*/
.container20 {
  width: 20%;
}

.container1 {
  width: 20%;
}

.container2 {
  width: 25%;
}

.container3 {
  width: 20%;
}

.container50 {
  width: 50%;
}


/*---MENU---*/
  .icon {
    margin-top: 1rem;
    margin-left: 5rem;
  }
/*----INDEX----*/

  .main {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .flex {
    display: flex;
  }

  .flexboton {
    display: flex;
  }

  .descripcion {
    width: 50%;
  }

  .imagen {
    width: 45%;
  }

  .instrucciones {
    width: 50%;
  }

  .centro {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

/*----GAME----*/
  .game {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
  }

/*----BOTONES----*/
.botones {
  margin-top: 4rem;
  justify-content: center;
  width: 100%;
}


/*----daltonico----*/
.menud {
  background-color: #252B2F;
}

body.daltonico {
  background-color: #404C52  ;
}

button.daltonico {
  background-color: #007A84 ;
  color: #ffffff;
  border: 1px solid #007A84  ;

}
button:focus.daltonico {
  background-color: #009FAB;
}

button:hover.daltonico {
  background-color: #009FAB;
}




@media only screen and (max-width:1920px) {
  /*----GAME---*/

  td, th {
    height: 90px;
    width: 90px;
  }
}

@media only screen and (max-width:1366px) {
  /*----INDEX----*/

  .descripcion {
    width: 80%;
  }

  .container1 {
    width: 10%;
  }

  .container2 {
    width: 10%;
  }
  .instrucciones {
    width: 75%;
  }
  .container3 {
    width: 10%;
  }

  /*----GAME---*/

  td, th {
    height: 85px;
    width: 85px;
  }

}

@media only screen and (max-width:1024px) {
    /*----INDEX----*/

  .descripcion {
    width: 100%;
  }
  
  .container1 {
    width: 0%;
  }

  .container2 {
    width: 0%;
  }

  .container3 {
    width: 0%;
  }

  .instrucciones {
    width: 100%;
  }

    /*----GAME---*/

    td, th {
      height: 80px;
      width: 80px;
    }
  
  }

  @media only screen and (max-width:800px) {
    /*----GAME---*/

    td, th {
      height: 50px;
      width: 50px;
    }
  
  }

  @media only screen and (max-width:680px) {
    td, th {
      height: 40px;
      width: 40px;
    }
  }

  @media only screen and (max-width:480px) {
    td, th {
      height: 30px;
      width: 30px;
    }
    .flexboton {
      display: block;
    }

    .botones {
      margin-top: 2rem;
      justify-content: center;
      width: 100%;
    }
  }

  @media only screen and (max-width:375px) {

  }