.win {
	margin-top: 5rem;
	color: red;
	animation-name: stretch;
	animation-duration: 1.5s; 
	animation-timing-function: ease-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
  }
  
  @keyframes stretch {
	0% {
	  transform: scale(1);
	  color: #1A936F ;
	  border-radius: 100%;
	}
	50% {
	  color: rgb(0, 255, 157);
	}
	100% {
	  transform: scale(1.5);
	  color: rgb(0, 255, 179);
	}
  }

  @media only screen and (max-width:1200px) {
    @keyframes stretch {
        0% {
          transform: scale(.5);
          color: #1A936F ;
          border-radius: 100%;
        }
        50% {
          color: rgb(0, 255, 157);
        }
        100% {
          transform: scale(.8);
          color: rgb(0, 255, 179);
        }
      }
  
  }
